body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* modifier classes start */

.hide {
    display: none;
}

.transparent {
    opacity: 0;
}

.bold {
    font-weight: 900;
}

/* animation modifiers */

.fade-in {
    animation: fade-in 1s linear normal both;
}

.fade-out {
    animation: fade-in 1s linear reverse both;
}

.shrink-out {
    animation: shrink-out 1s linear normal forwards;
}

.pos-absolute {
    position: absolute;
}

/* modifier classes end */

.game {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div.button-div {
    display: block;
    align-items: center;
    text-align: center;
}

#button-heading {
    margin: auto;
    font-size: 3vw;
    text-align: center;
}

#the-button {
    position: relative;
    padding: 0.5vw;
    font-size: 5vw;
    background-color: #d3d3d3;
    border: 0.5vw solid #808080;
    border-radius: 1vw;
    align-self: center;
    font-family: monospace;
}
#the-button:hover {
    background-color: #c0c0c0;
    border-color: #707070;
}
#the-button:active {
    background-color: #808080;
    border-color: #404040;
}

p.counter {
    margin: 0;
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes shrink-out {
    to {
        height: 0%;
        margin: 0%;
        padding: 0%;
        font-size: 0%;
        opacity: 0%;
    }
}
